<app-topo></app-topo>
<div *ngIf="jogoEmAndamento else fimDeJogo">
<app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
<div *ngIf="tipoEncerramento === 'derrota' else fimDeJogoVitoria" class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center" style="color: red; margin-top: 50px;">Infelizmente você perdeu!</h3>
      <button class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar Jogo</button>
    </div>
  </div>
</div>
</ng-template>
<ng-template #fimDeJogoVitoria>
<div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-center" style="color: green; margin-top: 50px;">Você venceu!!</h3>
        <button class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar Jogo</button>
      </div>
    </div>
  </div>
</ng-template>
